.body {
 font-family: Arial;
 
}

.container {
	width: 80%;
	margin:	auto;
}
.header {
    height: 200px;
    width: 50%;
    text-align: center;
    border-width: 7px;
    margin-bottom: 10pc;

} 
.name{
    float: left;  
}

.textbox {
    text-align: left;
    height: 200px;
}
input[type='radio'] {
    margin: 1em;

}
.btn {
	margin: 1em;
	padding: 1em;
	font-size: 1em;
    border-radius: 0.25em;
    float: left;
}
